.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}