.trip-card{
  margin: 0.2em;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 20%;
}
.aside{
  background-color: orchid;
  margin: 0.1em;
  flex: 1 2 15%;
  height: 100%;
}
.center{
  background-color: purple;
  margin: 0.1em;
  flex: 1 1 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.right{
  background-color: skyblue;
  margin: 0.1em;
  flex: 1 1 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top{
  margin: 0.2em;
  padding: 0.4em;
  height: 70%;
  background-color: rosybrown;
}
.low{
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.low-left{
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  color: white; 
}

.label-title{
 text-transform: uppercase;
 font-size: small;
}